:root
{
  --color-base: #1d1c22;
  --color-light: #312f46;
  --color-dark: #16151a;
  --color-white: #eae2dd;
  --color-highlight: #a4b4e1;
  font-size: clamp(11px, 1.2vw + 0.5rem, 15px);
  color: var(--color-white);
  font-family: "Georgia";
  line-height: 1.5rem;
}

*
{
  margin: 0;
  padding: 0;
}

html
{
  background-color: var(--color-base);
}

a
{
  color: inherit;
  text-decoration: none;
}

nav
{
  background-color: var(--color-dark);
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1337;
}

header
{
  background-image: url("https://hexabytecx.github.io/backgroundUpscaled2.jpeg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

main
{
  padding: 1.25rem;
  padding-top: 3rem;
}

section
{
  padding-bottom: 1.2rem;
}

h1
{
  font-size: max(3.5rem, 7vw);
  margin: 0;
  line-height: normal;
}

h2
{
  font-size: max(1rem, 2vw);
  margin: 0;
}

h3
{
  font-size: 2rem;
  padding-bottom: 2rem;
  color: var(--color-highlight);
}

h4
{
  margin-bottom: 0.2rem;;
}

p
{
  text-align: justify;
  overflow-wrap: break-word;
  margin-bottom: 1rem;
}

ul
{
  padding-left: 2rem;
  padding-bottom: 1rem;
}

hr
{
  margin-bottom: 2rem;
  border: 0px;
  height: 2px;
  background-color: var(--color-light);
  width: 100%;
}

label
{
  margin-bottom: 0.2rem;
}

input
{
  height: 1.3rem;
  font-size: 0.8rem;
}

textarea
{
  resize: vertical;
}

footer
{
  background-color: var(--color-dark);
  padding-bottom: 2rem;
}

.center-container
{
  max-width: 1340px;
  margin-left: auto;
  margin-right: auto;
}

.anchor
{
  display: block;
  position: relative;
  top: -5rem;
  visibility: hidden;
}

.link
{
  font-style: italic;
  border-bottom: dotted 2px var(--color-white);
}

.link:hover
{
  color: var(--color-highlight);
}

.image-wrapper
{
  flex: 0 0 calc(33.333% - 10px);
  max-width: calc(33.333% - 10px);
  overflow: hidden;
  border-radius: 3px;
  cursor: pointer;
}

.image-wrapper img
{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.image-wrapper img:hover
{
  transform: scale(1.1);
}

#navigation-list
{
  list-style-type: none;
  padding: 0;
  display: flex;
}

#navigation-list li
{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 4rem;
  font-size: clamp(1rem, 1.2vw + 0.5rem, 1.6rem);;
}

#navigation-list li a:hover
{
  color: var(--color-highlight);
}

#header-container
{
  width: 100%;
  height: auto;
  background-color: rgba(29, 28, 34, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2vw 0;
}

#gallery-container
{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 2rem;
}

#gallery-container
{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 2rem;
}

#gallery-container > div:nth-last-child(1)
{
  margin-right: auto;
}

#gallery-container > div:nth-last-child(2)
{
  margin-left: auto;
}

#location-map
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  width: 100%;
}

#location-map iframe
{
  width: 90vw;
  height: 90vw;
  max-width: 800px;
  max-height: 800px;
  border-radius: 4px;
}

#contact-container
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 16rem;
}

#contact-container a
{
  display: inline-block;
  padding: 1.5rem 2rem;
  background-color: var(--color-light);
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  border-radius: 5px;
}

#contact-container a:hover
{
  background-color: var(--color-highlight);
}



#footer-container
{
  display: flex;
  padding: 1.5rem;
  padding-bottom: 1rem;
  color: var(--color-white);
}

#footer-container section
{
  padding-bottom: 0px;
  flex: 0 0 calc(50%);
  max-width: calc(50%);
  font-size: 0.9rem;
}

@media (max-width: 800px)
{
  .image-wrapper
  {
    flex: 0 0 calc(50% - 10px);
    max-width: calc(50% - 10px);
  }

  #gallery-container > div:nth-last-child(1)
  {
    margin-left: auto;
  }

  #gallery-container > div:nth-last-child(2)
  {
    margin-left: 0;
  }
}
